/* .booksdetais {
        width: 400px;
        margin: auto;
}

.booksdetais .books__detail {
        width: 400px;
}

.books__detail a {
        text-decoration: none;
        color: white;
}

.book__btns {
        display: flex;
        align-items: center;
}

.formnamebook {
        width: 80%;
        margin: auto;
        padding-top: 20px;
} */