.formname {
        display: flex;
        flex-direction: column;
        width: 28%;
        margin: auto;
        padding-top: 20px;
}

.formname h3 {
        font-size: 25px;
        text-align: center;
}

.formname input,
textarea {
        margin-top: 10px;
        padding: 10px 10px;
        font-family: 'poppins';
        cursor: pointer;
        font-size: 15px;
}